// Colors
$text-color: #7b838a;
$faded-color: #aaaaaa;
$primary-color: #5bb7db;
$danger-color: #D94238;
$warning-color: #f4c20d;
$success-color: #1E9A57;
$contentBackground-color: #f8f8f8;
$border-color: #aaaaaa;
$white-color: #ffffff;
