@import "../../assets/stylesheets/base/colors";
.wrapper {
    margin: 10px 0;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 3px;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
}

.body {
    display: flex;
    justify-content: space-between;
}

.name {
    margin-top: 0;
    color: #263238;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.44px;
    padding-left: 20px;
}

.url {
    margin-top: 0px;
    color: #9EA7BA;
    font-weight: 400;
    letter-spacing: 0.25px;
    padding-left: 20px;
    font-size: 14px;
}

.toolbar {
    display: flex;
    justify-content: right;
}

.expander {
    margin-left: 10px;
    margin-top: -15px;
    background: none;
    border: none;
    position: relative;
    cursor: pointer;
    outline: none;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
    }
}

.icon-arrow {
    width: 12px;
}

.blocks-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}

.app-block-top {
    margin-top: 20px;
}