.block-content {
    background: rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    min-height: 48px;
    left: 0px;
    right: -0.28px;
    top: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

.block-text-title {
    color: #304FFE;
    left: 8px;
    right: 7.72px;
    top: 8px;
    font-style: normal;
    text-align: left;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
}

.block-text-content {
    left: 8px;
    right: 7.72px;
    top: 24px;
    text-align: left;
    /* 14 sp • Body 2 */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    letter-spacing: 0.25px;
    /* Dark Color */
    color: #263238;
}