@import "../src/assets/stylesheets/base/colors";

/* Variables */

$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 648px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    background-color: #F3F3F3;
}

td {
    padding: 12px;
}

h2 {
    color: $vin-blue;
}

.clear {
    clear: both;
}

.savings {
    color: $vin-green;
}

.loss {
    color: $vin-red;
}

input.small {
    width: 46px;
}

td.fuel-savings-label {
    width: 175px;
}

@keyframes ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(9px, 0);
    }
}

@keyframes ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.loading-ellipsis {
    position: relative;
    width: 38px;
    height: 19px;
    & div {
        position: absolute;
        top: 7px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: $warning-color;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    & div:nth-child(1) {
        left: 6px;
        animation: ellipsis1 0.6s infinite;
    }
    & div:nth-child(2) {
        left: 6px;
        animation: ellipsis2 0.6s infinite;
    }
    & div:nth-child(3) {
        left: 16px;
        animation: ellipsis2 0.6s infinite;
    }
    & div:nth-child(4) {
        left: 25px;
        animation: ellipsis3 0.6s infinite;
    }
}